@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
h1{
    color: greenyellow;
}
:root{
--cor-de-fundo: #0000ff;
--verde: green; ]
--branco: #FFFFFF;
--botao-ativo: #3A375E;
--botao-inativo: #3a375e80;
--texto-fundo: #3a375e4d;

}

body{
background-color: var(color:aqua);
color: var(--branco);
font-family:Protest Revolution;
}

.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px; 
   width:100% ;
   margin: 0 auto;

}

.titulo-principal{
   
    text-align: left;
    width: 100%;
    font-size: 32px;


}

.titulo-principal span{

    color:var(--verde);

}

.botao{




}





